<title>Student Food</title>

<center>
  <form action="/search/find">
    <input name="what" placeholder="What Do You Feel Like Eating?"> 
    </input> 
      </br>
    </br>
    <select name="location">
      <option>East Campus</option>
      <option>West Campus</option>
    </select>
      </br>
      <input type="submit" class="btn btn-primary"></input>
      </br>
  </form>
</center>
